<div class="container-fluid">
  <h4><a href="/reservation/new" class="navbar-left"><small>New Reservation?</small></a></h4>
</div>
<div class="container-fluid">
  <h4>This Restaurant has <%=TableCount.four_seater%> four seater tables and can seat up to <%=TableCount.four_seater * 4 %> people</h4>
  <% if @reservations.count > 0 %> 
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>Date</th>
      <th>No. of Seats</th>
      <th>Delete</th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.name %></td>
      <td><%= reservation.time_display %></td>
      <td><%= "#{reservation.date.strftime("%B %d, %Y")} " if reservation.date %></td>
      <td><%= reservation.seats %></td>
      <td><%= link_to "Cancel Reservation", reservation_path(reservation), method: :delete, data: {confirm: "Are you sure you want to cancel this reservation?"}%></td>
    </tr>
    <% end %> 
  </table>
  <% else %> 
  <p>No Reservations at this time</p>
  <% end %> 

</div>