<!DOCTYPE html>
<html>
<head>
  <title>Babybin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=action_name %>">
<nav class="nav-bar">
  <div class="container-fluid">
    <h1>Reservation</h1>
  </div>
</nav>
<% if flash %> 
<div class="cointainer-fluid">
  <% flash.each do |key, value| %> 
    <% value.each do |v| %>
      <div class="alert alert-<%= key %>">
        <small><%=v%></small>
      </div>
    <% end %> 
  <% end %> 
</div>
<% end %> 
<%= yield %>
<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted">Web Application by Robert Dalin</p>
  </div>
</footer>
</body>
</html>
